body {
  font-family: "Open Sans", sans-serif, Bahnschrift;
  font-weight: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-direction: column;
}
body main {
  width: 60%;
  height: auto;
  background: var(--w);
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-direction: column;
  position: relative;
}
body main header {
  display: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1em 0 0 0;
}
body main header .line {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-direction: row;
  padding: 1em 0;
  width: 100%;
  justify-content: space-between;
}
body main header .line img {
  max-height: 2em;
  width: auto;
}
body main header hr {
  width: 100%;
  border: 1px solid grey;
  background: grey;
  border-radius: 1000px;
}
body main .explication,
body main .token-container {
  border: 1px solid red;
  background: #ee97978a;
  width: 100%;
  margin: 1em 0;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-direction: row;
  gap: 1em;
}
body main .explication {
  margin: 1em 0 0 0;
}
body main .token-container {
  border: 1px solid grey;
  background: #80808026;
}
body main .token-container input,
body main .token-container button {
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid grey;
  height: 100%;
}
body main .token-container button {
  outline: none;
  cursor: pointer;
}
body main .wrapper {
  width: 100%;
  background: var(--w);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
}
body main .wrapper.init {
  min-height: 30vh;
  border: 2px dashed grey;
  align-items: center !important;
}
body main .wrapper .background {
  position: relative;
}
body main .wrapper .background .fa-file-alt {
  font-size: 5em;
  color: #80808026;
}
body main .wrapper .background .fa-arrow-alt-circle-down {
  position: absolute;
  font-size: 1.5em;
  bottom: -0.25em;
  right: -0.25em;
  color: var(--bl);
  opacity: 0.6;
}
body main .wrapper .elements {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  flex-wrap: wrap;
}
body main .wrapper .elements .card-dl {
  border: 1px solid grey;
  background: var(--w);
  min-width: 16vw;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-direction: column;
  cursor: pointer;
}
body main .wrapper .elements .card-dl .visual-element {
  width: 100%;
  height: 20vh;
  background: #80808026;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: grey;
}
body main .wrapper .elements .card-dl .visual-element i {
  font-size: 3em;
}
body main .wrapper .elements .card-dl .description-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  gap: 1em;
}
body main .wrapper .elements .card-dl .description-line .text-element {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
  color: grey;
}
body main .wrapper .elements .card-dl .description-line i {
  color: var(--bl);
}
body main .wrapper .noFile {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background: var(--b);
  color: var(--w);
  border-radius: 5px;
}
body main .wrapper .noFile i {
  font-size: 2em;
}
body main .wrapper .noFile a {
  color: var(--bl);
}

/*# sourceMappingURL=main.css.map */
